body
{
    background-color: #fafafa;
    font-family: "Montserrat-Light";
    font-size: 1em;
    margin: 1em auto;
    max-width: 40em;
    padding: 0.5em 0.62em;
}
h1, h2, h3, h4, h5, h6
{
    line-height: 1.2;
}
.conversation
{
    border-bottom-style: solid;
    border-bottom-width:0.15em;
    border-top-style: solid;
    border-top-width:0.15em;
}
.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
.likes
{
    margin-left: 4em;
}
.message
{
    font-family: "Montserrat-Light";
    font-size: 1em;
}
.media
{
    border-style: solid;
    border-width: 0.05em;
    margin: auto;
    max-width: 50%;
}
.mediapost
{
    display: block;
    margin: auto;
    max-width: 100%;
}
.mediastory
{
    display: block;
    margin: auto;
    max-width: 100%;
}
.post
{
    border-style: solid;
    border-width: 0.075em;
    margin: auto;
    max-width: 50%;
    padding: 0.5em 0.5em;
}
.postshared
{
    border-style: solid;
    border-width: 0.075em;
    max-width: 50%;
    padding: 0.5em 0.5em;
}
.story
{
    border-style: solid;
    border-width: 0.075em;
    margin: auto;
    max-width: 50%;
    padding: 0.5em 0.5em;
}
.widebody
{
    max-width: 70em;
}
@font-face
{
    font-family: "Montserrat-Light";
    src: url("/Montserrat-Light.ttf") format("truetype");
}
